{{ if eq .chezmoi.os "windows" }}
@echo off
setx HOME %USERPROFILE%
setx MSYS winsymlinks:nativestrict
setx MSYS2_PATH_TYPE inherit
setx EDITOR "emacs -nw"
setx LIBRIME_ROOT "C:\msys64"
exit /b 0
{{ end }}
