{{ if eq .chezmoi.os "linux"}}
alias lsa='exa -alF --icons'
alias mv='advmv -g'
alias cp='advcp -g'

# pnpm
export PNPM_HOME="{{ .chezmoi.homeDir }}/.local/share/pnpm"
export PATH="$PNPM_HOME:$PATH"
# pnpm end
{{ end }}
{{ if eq .chezmoi.os "windows"}}
export SSH_AUTH_SOCK="$HOME/AppData/Local/Temp/cygwin"
alias lsa='ls -alF --color=auto'
alias pacman='pacboy'
alias sudo='gsudo'
{{ end }}
{{ if eq .chezmoi.os "android"}}
alias rish='{{ .rish }}'
alias lsa='exa -alF --icons'
{{ end }}
