{{ if eq .chezmoi.os "linux"}}
alias mv='advmv -g'
alias cp='advcp -g'

# pnpm
export PNPM_HOME="{{ .chezmoi.homeDir }}/.local/share/pnpm"
export PATH="$PNPM_HOME:$PATH"
# pnpm end
{{ end }}
{{ if eq .chezmoi.os "windows"}}
export SSH_AUTH_SOCK="$HOME/AppData/Local/Temp/cygwin"
eval "$(chezmoi completion zsh)"
alias pacman='pacboy'
alias sudo='gsudo'
alias ls='eza -A --icons'
{{ end }}
{{ if eq .chezmoi.os "android"}}
alias rish='{{ .rish }}'
{{ end }}
